generate_results_inputs.json
download_results_inputs.json
data_release_inputs.json
preprocess_greenspace_properties_inputs.json
calculate_ratio_input.json
create_layer_input.json
clustering_input.json
data_release_regex_inputs.json